<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTyoC-IjHzzz-21kNU9aHRkQjjsBvqaDo</string>
	<key>GCM_SENDER_ID</key>
	<string>105856370860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.offlineReportSystem</string>
	<key>PROJECT_ID</key>
	<string>prototype-3ad8f</string>
	<key>STORAGE_BUCKET</key>
	<string>prototype-3ad8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105856370860:ios:389f1a516fdf70adf47709</string>
</dict>
</plist>